<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>
</head>
<body>
<h2>All Products</h2>
<table border="1">
    <thead>
    <tr>
        <th>ID</th><th>Name</th><th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}">1</td>
        <td th:text="${product.name}">Name</td>
        <td th:text="${product.price}">Price</td>
    </tr>
    </tbody>
</table>
</body>
</html>
